.tile_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.grad {
  background-image: linear-gradient(90deg, #f2c4c6, #fbe4e4, #f2c4c6);
  margin: 20px;
}

.art_tile {
  width: 224.25px;
  height: 313.75px;
  border-radius: 10%;
}

.image_container {
  margin: 10px;
}

.description_container {
  color: #634c54;
}

/* 
448.5px

627.5px */
